/* html {
    padding: 20px;
    display: flex;
    border: 1px solid black;
    display: grid;
   flex-wrap: wrap;
   gap: 10px
} */
/* *{
    margin: 0;
    padding: 0;
 } */
body {
    /* padding: 20px; */
    background: #404427;
    overflow-x: hidden;
    /* margin-right: 20px; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: center;
    /* gap:20px */
    align-items: center;
    padding: 10px;
    /* display: flex; */
    /* background: whitesmoke; */
    border-bottom: 1px solid black;
}

p {
    color: whitesmoke;
}

/* span{
    color: whitesmoke;
} */
header {
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    /* text-decoration: none; */
    /* position: absolute; */
}

header a {
    text-decoration: none;
    padding-left: 30px;

}

header nav {
    align-items: right;
    /* border: 1px solid burlywood; */
    box-shadow: 10px;
    padding-top: 30px;
    padding-left: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.first-section__container {
    padding: 10px;
    /* align-items: center; */
    text-align: center;
    font-size: larger;
    position: relative;
}

.first-section__text p {
    color: whitesmoke;
    font-size: x-large;
    font-family: monospace;
}

.first-section__text span {
    font-style: italic;
    text-decoration: underline;
    text-decoration-line: underline;
    color: bisque;
    /* text-decoration: solid; */
}

.first-section__image img {
    padding: 1rem;

}

.second-section {
    display: flex;
    /* flex-wrap: wrap; */

}

.second-section__container {
    background: bisque;

}

.second-section__text p span.italic {
    font-style: italic;
    font-weight: bold;
    color: #404427;
}

.second-section__text p span.ul {
    text-decoration: underline;
    color: #404427;
}

.second-section__container2 {
    background: bisque;
    /* padding: 9px; */
    text-align: center;
    /* display: inline-flex; */

    /* width: fit-content; */
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
}

.second-section__container2 p {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.second-section__container2 h3 {
    text-align: left;
    color: rgb(52, 44, 35);
    text-decoration: underline;

}

.second-section__button button {
    background: coral;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    transform-style: preserve-3d;
}

.second-section__button {
    padding-top: 15rem;

    text-align: center;



}

.second-section__text {
    font-size: x-large;
    font-family: monospace;
    padding: 5rem;
    color: #404427;
    max-width: 25rem;

}

.second-section__text p {
    color: #404427;
}

.second-section__arrows {
    text-align: left;
}

.second-section__image {
    display: flex;
    position: relative;
    padding: 50px;
    border-radius: 10px;
}

.second-section__image img {
    border-radius: 20px;
    height: 350px;
    width: 250px;
    object-fit: cover;
}

.third-section__container {
    padding: 10px;
    text-align: center;
    display: flex;
    width: 100%;
}

.third-section__image img {
    height: 350px;
    width: 350px;
    padding-left: 250px;
    border-radius: 800px;
}

.third-section__text {
    padding-left: 70px;
    font-size: 20px;
    font-family: monospace;
}

.third-section__text-ex {
    color: aliceblue;
    font-style: italic;
    font-weight: bold;
}

/* .third-section{
    display: flex;
    flex-direction: column;
} */

.third-section__button button {
    background-color: bisque;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
}

/* .third-section__container-box{
    padding: 8px;
    display: flex;
    background: whitesmoke;
    border-bottom: 1px solid black;
} */
/* button{
    border: 1px solid black;
    background: rgba(243, 80, 80, 0.72);
    border-radius: 10px;
    padding: 10px;
    color: whitesmoke;
} */
.fourth-section__container-box {
    padding: 10px;
    display: flex;
    background: whitesmoke;
    border-bottom: 1px solid black;
    width: 100%;
}

.fourth-section__text p {
    color: black;
    border-right: 1px solid black;
    font-size: 1rem;
    font-family: monospace;
    /* padding-left: 1rem; */
    width: 100%;
    position: inherit;
}

.fourth-section__A a {
    color: burlywood;
    padding: 1rem;
}

.fourth-section__A {
    padding: 2rem;
}

.fourth-section {
    display: flex;
}

.fifth-section__container {
    padding: 4.5rem;
    background: bisque;
    background-image: url(user1.png);
    background-size: 20rem auto;


    background-position-x: center;
    max-height: 100%;
    background-repeat: no-repeat;
    max-height: fit-content;
    align-items: center;
    text-align: center;

}

/* .fifth-section{

} */
.fifth-section__text {
    display: flex;
    /* flex-direction: column; */
    padding: 2rem;
    font-size: 20px;
    text-align: center;

}

.fifth-section__text span.italic {
    text-decoration: underline;
}

.fifth-section__text p {

    display: flex;
    padding: 3rem;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(31, 3, 3);
}

.fifth-section__text h3 {
    font-size: larger;
    font-weight: bolder;
    color: gold;
}

.fifth-section__image {
    align-items: center;
    text-align: center;


}

.fifth-section__image img {
    border-radius: 10px;
}

.fifth-section__image button.fifth-button {
    background: bisque;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;

}

.fifth-section__image button.fifth-button:hover {
    background: darkblue;
}

button:hover {
    background: darkblue;
}

.sixth-section {
    display: grid;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;

}

.sixth-section__container {
    /* padding: 5rem; */
    flex: 1 1 150px
        /* overflow: hidden; */
        /* justify-content: center; */
}

.sixth-section__text p {
    display: flex;
    flex-wrap: wrap;
}

.sixth-section__image img {
    border-radius: 100%;
    align-items: right;
    text-align: right;


}

.sixth-section__text h5 {
    font-size: 20px;
    color: bisque;
}

.sixth-section__image {
    align-items: right;
    text-align: end;

}

.seventh-section__container {
    padding: 6rem;
    background-color: #c9c935;
    align-items: center;
    text-align: center;

}

.seventh-section__text {
    padding: 2rem;
    font-size: 30px;
}

.seventh-section__image img {
    padding: 1rem;
}

.eight-section__container {
    padding: 5rem;
    text-align: center;
}

.eight-section__text {
    font-size: x-large;
    font-family: sans-serif;
}

footer {
    text-align: center;
    padding: 5rem;
    border-top: 1px solid black;
}

.footer-nav a {
    color: bisque;
    padding: 3rem;
}

.footer-image img {
    padding: 2rem;
}


/* mobile */
@media (max-width: 480px) {
    html {
        font-size: 5px;
    }
    header {
        max-width: 100%;
        display: flex;
    }
    header h3 {
        text-align: left;
        font-size: small;
        padding: 1px;
    }

    .second-section {
        display: grid;
    }

    .third-section__image img {
        position: relative;
        height: 120px;
        width: 120px;

    }

    /* .seventh-section__container {
        
    } */

    .fourth-section__container-box {
        padding: 1px;
        width: 100%;
    }
 .seventh-section__text{
    padding: 1rem;
}
    .fifth-section__text {
        flex: 1 1;
        border-spacing: 5px;
        font-size: 5px;
        max-width: 60px;
        overflow: auto;
        text-align: center;

    }
.seventh-section__image img{
    width: fit-content;
}
    .fourth-section__text p {
        max-width: 60px;
        border-spacing: 5px;
        font-size: 10px;

    }

    .fourth-section__A {
        max-width: 60px;
        font-size: small;
    }

}

@media (max-width: 600px) {
    html {
        font-size: 0.5rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 1rem;
    }
}
